// font
@import url("https://fonts.googleapis.com/css?family=Roboto:300,700&display=swap");

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #dadada;
}

.album {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 169px;
  width: 540px;
  left: 20px;
  top: 20px;
  border-radius: 15px;
  background-color: #ffff;
  .album_title {
    width: 169px;
    height: 169px;
    background: url(image.png);
    border-radius: 15px 0px 0px 15px;
  }
  .music_control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 24px;

    width: 371px;
    height: 169px;
  }
  .info {
    .info_songs {
      display: flex;
      justify-content: space-between;
      font-family: "Inter";
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;
      color: #000000;
      .spotifybtn {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin-top: 20px;
        label {
          #checkMode {
            display: none;
          }
        }
      }
    }
    .control_panel_song {
      display: flex;
      justify-content: space-between;
      align-items: center;
      button {
        outline: none;
        border: none;
        background-color: #ffff;
      }
      .btn_control {
        
      }
      .like:hover{
        svg path{
          stroke:#008162;
          
        }
      }
      .repeat_song{
        label {
          #repeatBtn {
            display: none;
          }
          &:hover{
            svg path{
              stroke:#717171;
            }
          }
        }
       
      }
    }
    .extension_time {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;

      .audio-track {
        width: 257px;
        height: 3px;
        background-color: #dddddd;
        margin: 5px 0 ;
        .time {
          width: 0;
          height: 3px;
          background-color: #B45353;
          transition: all 1s ease-out;
        }
      }
     
      .play_time {
        margin-left: 10px;
        width: 34px;
        height: 15px;
        right: -1.5px;
        top: -5.77px;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: #454545;
      }
    }
  }
}
